.pui-modal {
    &.modal {
        &.confirm {
            z-index: 9999 !important;
        }
        .modal-dialog {
            width: 320px;
            border-radius: 2px;
            background-color: @pui-deep-dark-color;
            color: fade(@pui-main-text-color, 60%);
            box-sizing: content-box;

            .modal-header {
                margin: 0px 18px;
                padding: 14px 0px;
                padding-bottom: 6px;
                position: relative;
                font-size: 14px;
                border-bottom: 1px solid fade(@pui-main-color, 20%);

                .modal-title {
                    padding-right: 20px;
                }

                .modal-close-icon {
                    float: right;
                    position: absolute;
                    right: 0px;
                    top: 19px;
                    opacity: 0.6;
                    width: 10px;
                    height: 10px;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    &:before {
                        position: absolute;
                        content: '';
                        width: 14px;
                        height: 2px;
                        top: 4px;
                        left: -2px;
                        transform: rotate(45deg);
                        background-color: @pui-main-text-color;
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        width: 14px;
                        height: 2px;
                        top: 4px;
                        left: -2px;
                        transform: rotate(-45deg);
                        background-color: @pui-main-text-color;
                    }
                }
            }

            .modal-body {
                padding: 16px 32px;
                line-height: 20px;
            }
            .modal-footer {
                border-top: 1px solid fade(@pui-main-color, 20%);
                padding: 12px 18px;

                .confirm-btn {
                    float: right;
                }

                .cancel-btn {
                    margin-left: 20px;
                    float: right;
                }
            }
        }
    }
}
