.pui-checkbox {
    position: relative;
    width: 12px;
    height: 12px;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1px @pui-main-color;
    background-color: fade(@pui-main-color, 6%);

    &.indeterminate {
        &:after {
            content: '';
            position: absolute;
            width: 6px;
            display: block;
            height: 2px;
            background-color: @pui-main-color;
            left: 3px;
            top: 5px;
        }
    }

    &.checked {
        background-color: @pui-main-color;
        box-shadow: 0px 0px 0px 1px fade(@pui-main-color, 20%);

        &:after {
            content: '';
            position: absolute;
            width: 6px;
            display: block;
            height: 2px;
            transform: rotate(-45deg);
            border-width: 0px 0px 2px 2px;
            left: 2px;
            top: 3px;
            border-style: solid;
            border-color: @pui-main-text-color;
        }
    }

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
