.header {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0,.6);
    .header-main {
        width: 100%;
        height: 100%;

        .left-icon {
            width: 240px;
            padding-left: 30px;
            text-align: center;
            .left-title {
                font-size: 20px;
                display: inline-block;
            }
            i {
                font-size: 12px;
                margin-left: 5px;
                display: inline-block;
            }
        }

        .right-con {
            width: calc(~'100% - 240px');
            float: right;
            .right-item-con {
                width: 450px;
                float: right;
                .header-item {
                    text-align: center;
                    position: relative;
                    max-width: 120px;
                    height: 59px;
                    padding: 0 12px;
                    a {
                        height: 58px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        font-weight: bold;
                        cursor: pointer;
                        transition: color .2s ease;
                        
                        &:after {
                            background-color: #5182E4;
                        }
                         &:hover:before {
                            width: 100%;
                            left: 0;
                        }
                        &.current:before {
                            width: 100%;
                            left: 0;
                            background-color: rgba(0, 0, 0, .05);
                        }

                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            width: 0;
                            left: 0px;
                            height: 2px;
                            background-color: #5182E4;
                        }

                        &:before {
                            transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
                        }
                    }
                }
            }
            
        }
    }
}