<pui-layout align="center" justify="space-between" class="header-main">
    <pui-layout class="left-icon" align="center">
        <span class="left-title">天下三Just Do It</span>
        <i>2.0</i>
    </pui-layout>
    <div class="right-con">
        <pui-layout align="middle" class="right-item-con">
            <div class="header-item">
                <a>CBG高级搜索</a>
            </div>
            <div class="header-item">
                <a>改名查询</a>
            </div>
            <div class="header-item">
                <a>转服查询</a>
            </div>
            <div class="header-item">
                <a>幻化排行</a>
            </div>
            <div class="header-item">
                <a>英雄榜查询</a>
            </div>
        </pui-layout>
    </div>
</pui-layout>