/***** 背景图样式 ***/
.bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.main-bg {
    background-image: url('../../assets/images/bg.png');
}

.slider-bg {
    background-image: url('../../assets/images/sliderimage1.png');
}