.main-main {
    width: 100%;
    height: 100%;
    overflow: auto;

    &.animate-init {
        .slider-box {
            .slider-img {
                transform: scale(1);
            }
            .slider-text {
                transform: scaleX(1);
            }
        }
        .tech-hr {
            transform: translateY(0);
        }
        .tech-con-title {
            transform: translateY(0);
        }
        .tech-box {
            transform: translateY(0);
        }
    }

    .slider-box {
        width: calc(~'100% - 50px');
        height: 380px;
        margin: 30px auto 0 auto;
        overflow: hidden;
        border-radius: 10px;
        position: relative;

        .slider-img {
            position: relative;
            width: 100%;
            height: calc(~'100% - 30px');
            .slider-bg;
            .bg;
            transform: scale(0);
            transition: 500ms;
            z-index: 100;
        }
        
        .slider-text {
            display: block;
            width: 200px;
            text-align: center;
            line-height: 30px;
            margin: 0 auto;
            font-size: 14px;
            transform: scaleX(0);
            transition: 2000ms;
        }

    }

    .tech-hr {
        width: calc(~'100% - 50px');
        margin: 50px auto 0 auto;
        border-top: 1px solid #999;
        transform: translateY(1000px);
        transition: 500ms;
    }
    .tech-con-title {
        width: 110px;
        height: 30px;
        background-color: #EAEAEA;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        margin: -15px auto 0 auto;
        transform: translateY(1000px);
        transition: 500ms;
    }

    .tech-box {
        margin: 30px auto 0 auto;
        width: 800px;
        position: relative;
        transform: translateY(1000px);
        transition: 500ms;
        .clearfix;
        .tech-item {
            width: 200px;
            height: 150px;
            border-radius: 10px;
            position: relative;
            .icon;
            float: left;
            margin-right: 100px;
            overflow: hidden;
            cursor: pointer;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(4) {
                margin-left: 140px;
                margin-top: 50px;
            }
            &:nth-child(5) {
                margin-top: 50px;
            }
            .tech-item-icon(6);

            .tech-item-icon(@n, @i: 1) when (@i < @n) {
                &:nth-child(@{i}) {
                    background-image: url('../../assets/images/item@{i}.jpg')
                }
                .tech-item-icon(@n, (@i + 1));
            }

            span {
                display: inline-block;
                text-align: center;
                width: 100%;
                height: 30px;
                background-color: rgba(255, 255, 255, .8);
                line-height: 30px;
                transform: translateY(120px);
            }

            &:hover {
                .bg-tech-item {
                    transform: translateX(0);
                }
            }

            .bg-tech-item {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .4);
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-200px);
                transition: 500ms;
                i {
                    color: rgba(255,255,255,.8);
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    position: absolute;
                    top: 35px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;
                    line-height: 45px;
                    border: 3px solid rgba(255,255,255,.8);
                    border-radius: 50%;
                }
            }
        }
    }
}