<div class="main-main jq_main">
    <div class="slider-box">
        <div class="slider-img" ></div>
        <span class="slider-text">因为天下我们相聚在这里</span>
    </div>
    <hr class="tech-hr" />
    <div class="tech-con-title">功能列表</div>
    <div class="tech-box">
        <div class="tech-item">
            <div class="bg-tech-item">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
            <span>全服主流幻化排行榜</span>
        </div>
        <div class="tech-item">
            <div class="bg-tech-item">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
            <span>全服改名查询</span>
        </div>
        <div class="tech-item">
            <div class="bg-tech-item">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
            <span>全服转服记录查询</span>
        </div>
        <div class="tech-item">
            <div class="bg-tech-item">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
            <span>藏宝阁高级条件搜索</span>
        </div>
        <div class="tech-item">
            <div class="bg-tech-item">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
            <span>英雄榜查询</span>
        </div>
    </div>
</div>