.pui-table {
    width: 100%;

    table {
        width: inherit;
        table-layout: fixed;
        background-color: @pui-dark-color;
    }

    &.opacity {
        table {
            background-color: fade(@pui-dark-color, 50%);
        }

        td, th {
            border-right: 1px solid fade(@pui-dark-color, 50%);
            border-bottom: 1px solid fade(@pui-dark-color, 50%);
        }
    }

    &.pui-table-header {

    }

    &.pui-table-body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    tbody {
        tr:hover {
            box-shadow: inset 0 0 10px 0 @pui-main-color;
        }

        tr:nth-child(2n) {
            td {
                background-color: fade(@pui-main-text-color, 6%);
            }
        }
        tr:nth-child(2n+1) {
            td {
                background-color: fade(@pui-main-text-color, 3%);
            }
        }
    }

    th {
        height: 32px;
        background-color: fade(@pui-black-color, 12%);
        color: fade(@pui-main-text-color, 40%);
        padding: 0px 12px;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        vertical-align: middle;
        border-right: 1px solid @pui-dark-color;
        border-bottom: 1px solid @pui-dark-color;

        &:last-child {
            border-right: 0px;
        }

    }



    td {
        height: 32px;
        padding: 0px 12px;
        color: @pui-main-text-color;
        text-overflow: ellipsis;
        vertical-align: middle;
        text-align: left;
        border-right: 1px solid @pui-dark-color;
        border-bottom: 1px solid @pui-dark-color;

        &:last-child {
            border-right: 0px;
        }
    }
}
