.pui-progress-wrap {
    display: flex;
    align-items: center;

    .pui-progress-bar {
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: fade(@pui-main-text-color, 20%);

        &.has-info {
            width: calc(~'100% - 40px');
        }

        .progress-percent-bar {
            position: absolute;
            height: 100%;
            left: 0px;
            top: 0px;
            background-color: @pui-main-color;
            transition: width 300ms ease-in-out;
        }
    }

    .percentage-text {
        width: 40px;
        text-align: right;
        color: @pui-main-text-color;
        font-size: 12px;
    }
}
