<div class="pui-progress-wrap">
    <div class="pui-progress-bar" ng-class="{'has-info': !hideInfo}" ng-style="{'height': (strokeWidth || '6') + 'px', 'borderRadius': (strokeWidth || '6') / 2 + 'px'}">
        <div class="progress-percent-bar" ng-style="{'width': (percent || 0) + '%'}"></div>
    </div>
    <div class="percentage-text" ng-if="!hideInfo" ng-bind="(percent || 0) + '%'"></div>
</div>
