.pui-datepicker-wrap {
    position: relative;
    box-sizing: border-box !important;

    * {
        box-sizing: border-box !important;
    }

    &.pui-input-wrap {
        &:hover {
            .pui-input.border {
                box-shadow: inset 0px 0px 0px 1px fade(@pui-main-color, 100%);
            }
            .arrow-down.border {
                background-color: fade(@pui-main-color, 20%);
            }
        }
    }

    .pui-input {
        padding-right: 15px;

        &.border {
            padding: 0px 8px;
            padding-right: 26px;
            box-shadow: inset 0px 0px 0px 1px fade(@pui-main-color, 50%);
            border-radius: 2px;
            line-height: 28px;
            height: 28px;

            &:focus {
                box-shadow: inset 0px 0px 0px 2px fade(@pui-main-color, 100%);
            }

            &.disabled {
                box-shadow: inset 0px 0px 0px 1px fade(@pui-main-color, 50%) !important;
            }
        }
    }
    .arrow-down {
        position: absolute;
        right: 1px;
        border: none;
        transform:  scale(1.5, 0.7) rotate(90deg);
        transform-origin: center;
        width: 10px;
        line-height: 12px;
        height: 11px;
        margin: 0px !important;
        top: 6px;
        pointer-events: none;

        &.border {
            width: 37px;
            height: 17px;
            top: 6px;
            right: -5px;
            text-align: center;
            padding-top: 1px;

            &.disabled {
                background-color: transparent !important;
            }

            &:before {
                position: absolute;
                display: block;
                content: '';
                width: 15px;
                height: 1px;
                top: 17px;
                left: 10px;
                background-color: fade(@pui-main-color, 30%);
            }
        }
    }
}

.datepicker.dropdown-menu {
    box-sizing: border-box !important;
    width: 272px;
    background-color: #2E324D;
    padding: 16px 24px;
    height: 300px;

    &.datepicker-mode-1, &.datepicker-mode-2 {
        table {
            tbody {
                td {
                    .btn {
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    &.datepicker-mode-0 {
        table {
            height: 244px !important;
        }
    }

    table {
        thead {
            width: 100%;
            tr {
                height: 24px;
                &:nth-child(2) {
                    height: 40px;
                    border-top: 15px solid transparent;
                }
                th {
                    color: rgba(255, 255, 255, .7);
                    &.dow {
                        font-size: 12px;
                    }
                    .btn-default {
                        background-color: transparent;
                        border: 0;
                        font-size: 12px;
                        color: rgba(255, 255, 255, .7);
                    }
                    .btn {
                        padding: 0;
                        &:focus,
                        &:active {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                height: 30px;
                td {
                    padding: 3px 3px 3px 4px;
                    .btn-default {
                        background-color: transparent;
                        border: 0;
                        font-size: 12px;
                        color: rgba(255, 255, 255, .7);

                        &[disabled] {
                            &:hover {
                                background-color: transparent;

                                .text-muted {
                                    color: #777777;
                                }
                            }
                        }
                    }
                    .btn {
                        display: block;
                        padding: 0;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        &:hover {
                            background-color: #5182E4;
                            color: rgba(255, 255, 255, .7);

                            .text-muted {
                                color: rgba(255, 255, 255, .7);
                            }
                        }
                    }
                    .btn-primary {
                        background-color: #5182E4;
                    }
                }
            }
        }
    }

    .pui-datepicker-time-select-wrap {
        width: 100%;
        height: 244px;
        display: flex;
        font-size: 12px;

        .pui-time-select-wrap {
            flex: 0 0 auto;
            width: 33%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 2px;
                height: 2px;
            }

            .pui-time-item {
                text-align: center;
                height: 28px;
                line-height: 28px;
                cursor: pointer;

                &.disabled {
                    cursor: not-allowed;
                    color: #777777;

                    &:hover {
                        background-color: transparent;
                    }
                }

                &.selected {
                    color: @pui-main-color;
                }

                &:hover {
                    background-color: rgba(81, 130, 228, 0.1);
                }
            }
        }
    }

    .pui-datepicker-footer-wrap {
        width: 100%;
        box-shadow: inset 0 1px 0 0 rgba(81, 130, 228, 0.5);
        padding-top: 10px;
        .pui-datepicker-footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;

            .date-controller-wrap {
                display: flex;
            }

            .link-text-btn {
                color: @pui-main-color;
                cursor: pointer;
                &:hover {
                    filter: brightness(1.2)
                }
            }

            .choose-sure-btn {
                cursor: pointer;
                background-color: @pui-main-color;
                color: @pui-main-text-color;
                border-radius: 2px;
                line-height: 19px;
                padding: 0px 6px;

                &:hover {
                    filter: brightness(1.2)
                }
            }
        }
    }
}
