<div class="pui-datepicker-wrap pui-input-wrap">
    <input class="pui-input"
           ng-class="{'disabled': !!ngDisabled, 'border': type === 'border'}"
           ng-focus="$onFocus($event)"
           ng-blur="$onBlur($event)"
           ng-disabled="!!ngDisabled"
           ng-readonly="$readonly"
           placeholder="{{placeholder}}" />
    <div class="arrow-down" ng-class="{'disabled': !!ngDisabled, 'border': type === 'border'}">&gt;</div>
</div>

<!--
ng-class="{'disabled': !!ngDisabled, 'border': type === 'border'}"
bs-datepicker
ng-disabled="!!ngDisabled"
placeholder="{{placeholder}}"
data-template-url="app/PUIComponents/Datepicker/datepicker.tpl.html"
data-date-type="number"
data-placement="{{placement || 'bottom-left'}}"
data-max-date="{{maxDate}}"
data-min-date="{{minDate}}"
data-date-format="{{dateFormat || 'yyyy-MM-dd'}}"
ng-focus="$onFocus($event)"
ng-blur="$onBlur($event)"
ng-readonly="$readonly"-->
