.pui-search-bar {
    position: relative;
    height: 24px;
    box-shadow: inset 0 -1px 0 0 fade(@pui-main-color, 50%);
    transition: 200ms width ease-in-out;
    cursor: pointer;
    text-align: left;
    box-sizing: content-box !important;

    .search-bar-content {
        width: 100%;
        height: 100%;

        input {
            display: block;
            width: calc(~'100% - 28px');
            height: 100%;
            border: none;
            outline: none;
            box-shadow: none;
            color: @pui-main-text-color;
            background-color: transparent;
        }

        &.open {
            .pui-search-icon {
                right: 5px;
            }
        }

        .pui-search-icon {
            position: absolute;
            top: 5px;
            width: 8px;
            right: 25px;
            height: 8px;
            border-radius: 8px;
            opacity: 0.5;
            border: 2px solid @pui-main-text-color;

            &:after {
                position: absolute;
                content: '';
                height: 2px;
                width: 4px;
                left: 7px;
                top: 9px;
                background-color: @pui-main-text-color;
                transform: rotate(45deg);
            }
        }
    }

    &:hover {
        box-shadow: inset 0 -1px 0 0 fade(@pui-main-color, 100%);

        .pui-search-icon {
            opacity: 1;
        }
    }

    &.focus {
        box-shadow: inset 0 -2px 0 0 fade(@pui-main-color, 100%);
    }
}
