<div class="pui-search-bar" ng-style="{width: $open ? ($maxWidth + 'px') : '64px'}" ng-mousedown="$toggle(true)">
    <div class="search-bar-content" ng-class="{'open': $open}">
        <input type="text"
               ng-show="$open"
               ng-model="value"
               placeholder="{{placeholder}}"
               ng-keydown="$onKeyDown($event)"
               ng-blur="$onBlur($event)"
               ng-focus="$onFocus($event)">
        <div class="pui-search-icon" ng-click="$open && $onSearch($event)"></div>
    </div>
</div>
