@pui-main-color: #5182E4;
@pui-dark-color: #24273E;
@pui-deep-dark-color: #191A2C;
@pui-black-color: #000000;

@pui-main-text-color: #ffffff;
@pui-text-color-disabled: fade(@pui-main-text-color, 42%);
