.pui-radio {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1px @pui-main-color;

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.checked {
        //background-color: @pui-main-color;

        &:after {
            display: block;
        }
    }

    &:after {
        content: '';
        display: none;
        background-color: @pui-main-color;
        width: 6px;
        height: 6px;
        border-radius: 4px;
        position: absolute;
        box-shadow: 0px 0px 0px 1px fade(@pui-main-color, 30%);
        left: 5px;
        top: 5px;
    }
}
